@import 'polyfluid/poly-fluid-sizing';

/* Base */
@import 'base/reset';
@import 'base/print';
@import 'base/mixins';
@import 'base/functions';
@import 'base/fonts';
@import 'base/layout';
@import 'base/typography';

/* Utils */
@import 'utils/seo';
@import 'utils/lazyloading';
@import 'utils/sr-only';
@import 'utils/keyframes';

/* Vendor */

/* Components */
@import 'components/icons';

@import 'patterns/header';
@import 'patterns/footer';

/* Browser specific styles */
@import 'dirty/hacks';
