/// map-sort
/// Sort map by keys
/// @param $map - A SASS map
/// @returns A SASS map sorted by keys
/// @requires function list-sort
/// @author Jake Wilson <jake.e.wilson@gmail.com>
@function map-sort($map) {
  $keys: list-sort(map-keys($map));
  $sorted-map: ();
  @each $key in $keys {
    $sorted-map: map-merge($sorted-map, ($key: map-get($map, $key)));
  }
  @return $sorted-map;
}
