@use "sass:map";

/**
 * Variables
*/

/* Breakpoints */
$bp-helper: 'true';

$breakpoints: (
  xs: 375px,
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  2xl: 1440px,
);

/* Fluid grid setup */
$grid-inner-gutters: (
  xs: 8px,
  sm: 15px,
  md: 20px,
  lg: 20px,
  xl: 20px,
  2xl: 20px,
);

$grid-outer-gutters: (
  xs: 23px,
  sm: 30px,
  md: 40px,
  lg: 50px,
  xl: 50px,
  2xl: 50px,
);

$grid-columns: 12;
$grid-container-width: #{rem(1024px)};

/* Typography */
$font-base: Roboto, sans-serif;
$font-heading: Roboto, sans-serif;

$base-font-size: #{rem(16px)};

$base-line-height: 1.4;
$heading-line-height: 1.2;

$font-styles: (
  title: (
    size: (
      min: 35px,
      max: 70px,
    ),
    lh: $heading-line-height,
    weight: 700,
  ),
  button: (
    size: (
      min: 12px,
      max: 16px,
    ),
    weight: 700
  )
);

/* Fluid sizing min and max sizes */
$pfs-min: map.get($breakpoints, xs);
$pfs-max: map.get($breakpoints, 2xl);

/* Z-indexes */
$z-indexes: (
  header,
  footer,
  main,
  helper,
);

/* Colour palette */
/* Use setColor function */
$colors: (
  black: (
    base: #000
  ),
  white: (
    base: #fff
  ),
  main: (
    light: #63ccff,
    base: #039be5,
    dark: #006db3,
  ),
);

/* Components */
$loading-dimensions: 50px;