{% set siteTitle = 'Foo' %}

{% extends './_base.twig' %}

{% block main %}
  <h1
    data-module="Hello"
    data-context="@media (min-width: 768px) and was @visible"
  >
    {{ data[lang].title }}
  </h1>

  <p class="section">toto</p>

  {% include 'utils/_image.twig' with {
    pictureClass: 'picture',
    image: {
      src: "/assets/images/test1",
      alt: "Alt image",
      ext: "png",
      webp: true,
    }
  } %}

  {% include 'utils/_icon.twig' with {
    iconID: 'menu'
  } %}
{% endblock %}